@{
    ViewData["Title"] = "CreateTrip";
    Layout = "~/Views/Shared/AdminLayouts/_AdminLayout.cshtml";
}
<h1>CreateTrip DashBoard</h1>

<form class="form-contact" action="CreateNewTripRequest" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="imageFile">Select image to upload:</label>
                <input type="file" id="imageFile" name="imageFile" accept="image/*">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input class="form-control" name="firstName" id="firstName" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="First Name">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input class="form-control" name="lastName" id="lastName" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Last Name">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input class="form-control" name="role" id="role" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Role">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input class="form-control" name="gender" id="gender" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Gender">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input class="form-control" name="Age" id="Age" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Age">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input class="form-control" name="emailAddress" id="emailAddress" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Email">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input class="form-control" name="userName" id="userName" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="UserName">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input class="form-control" name="phoneNumber" id="phoneNumber" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Phone Number">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input class="form-control" name="password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Password">
            </div>
        </div>

    </div>
    <div>
        <button style="margin:10px;" type="submit" class="btn slider-btn " data-animation="bounceIn" data-delay="1s">Sign Up</button>
    </div>

</form>