
@{
    ViewData["Title"] = "EventDetails";
    Layout = "~/Views/Shared/UserLayouts/_UserLayout.cshtml";

}
<main>

    <div class="slider-area">
        <div class="single-slider slider-height3 slider-bg2 slider-bg3 d-flex align-items-center ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                        <div class="hero__caption hero__caption2  hero__caption3 text-center">
                            <h2>Finlande</h2>
                            <div class="cat-cap">
                                <p><a href="#">12 Jan - 18 Jan</a>5 Days</p>
                                <span class="price">$1200</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="shedule-area section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 com-sm-11">
                    <div class="shedule-time mb-45 ">
                        <h2>Day:01</h2>
                        <p>
                            Let’s start your journey with us, your dream will come true. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                        </p>
                    </div>
                    <div class="shedule-time mb-45 ">
                        <h2>Day:02</h2>
                        <p>
                            Let’s start your journey with us, your dream will come true. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                        </p>
                    </div>
                    <div class="shedule-time mb-45 ">
                        <h2>Day:03</h2>
                        <p>
                            Let’s start your journey with us, your dream will come true. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                        </p>
                    </div>
                    <div class="shedule-time mb-45 ">
                        <h2>Day:04</h2>
                        <p>
                            Let’s start your journey with us, your dream will come true. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                        </p>
                    </div>
                    <div class="shedule-time mb-45 ">
                        <h2>Day:05</h2>
                        <p>
                            Let’s start your journey with us, your dream will come true. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="details-btn text-center mt-40">
                        <a href="#" class="btn about-btn">Book Your Seat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="instagram-area fix">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-xl-12">
                    <div class="instagram-active owl-carousel">
                        <div class="single-instagram">
                            <img src="assets/img/gallery/instra1.jpg" alt>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                        <div class="single-instagram">
                            <img src="assets/img/gallery/instra2.jpg" alt>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                        <div class="single-instagram">
                            <img src="assets/img/gallery/instra3.jpg" alt>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                        <div class="single-instagram">
                            <img src="assets/img/gallery/instra4.jpg" alt>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                        <div class="single-instagram">
                            <img src="assets/img/gallery/instra5.jpg" alt>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                        <div class="single-instagram">
                            <img src="assets/img/gallery/instra4.jpg" alt>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
